<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154371019608-bksgh9ocmn0chfc6l5qkplm4qkajq61p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154371019608-bksgh9ocmn0chfc6l5qkplm4qkajq61p</string>
	<key>API_KEY</key>
	<string>AIzaSyAgqacQU65tFJlRaivTLrz-jdGIyjkLdM8</string>
	<key>GCM_SENDER_ID</key>
	<string>154371019608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alsafi.harith.notepad</string>
	<key>PROJECT_ID</key>
	<string>notepad-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>notepad-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154371019608:ios:0f95ce85f3c3a984560b2d</string>
</dict>
</plist>